body {
  font-family: "Orbitron", "Pretendard", sans-serif;
  color: "#d0f0ff" !important;
  background-color: #000 !important;
}

.form-control::placeholder {
  color: "#d0f0ff" !important;
  opacity: 0.7;
}
