body {
  font-family: "Orbitron", "Pretendard", sans-serif;
  background-color: #000;
  color: "#d0f0ff" !important;
}

body.modal-open {
  overflow: hidden;
}
/* 
.neon-text {
  color: #00ffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 40px #7f00ff;
  font-family: 'Orbitron', sans-serif; */
