body {
  background: url(https://png.pngtree.com/background/20210711/original/pngtree-hand-drawn-blue-sky-white-clouds-weather-forecast-illustration-background-picture-image_1137685.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 5px solid rgb(168, 112, 188);
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(212, 212, 231, 0.707);
}

.button {
  border: 5px solid black;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.391);
}

.city-name {
  font-size: 60px;
  font-stretch: expanded;
  color: #441d92;
}

.today {
  color: rgb(102, 20, 179);
}
